@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: Source Sans Pro;
    background: #eee;
    border-color: #eee;
}

header {
    font-family: Abril Fatface;
    text-align: center;
}

.newspaper-container {
    background: white;
    box-shadow: #ddd;
    width: 700px;
    border-radius: 5%;
    padding: 10px;
}

nav {
    background-color: white;
    list-style: none;
    border: 4px ridge #777;
}

nav a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 3px;
}

main h5 {
    color: #dd3232;
}

h2 {
    font-family: Roboto Slab;
}

main p {
    text-align: justify;
}

.more-articles {
    display: inline-block;
    width: 700px;
    border-top: 4px ridge #777;
}

#article-one {
    display: inline-block;
    width: 250px;
    padding: 1em;
    text-align: center;
}

#article-two {
    display: inline-block;
    width: 250px;
    padding: 1em;
    text-align: center;
}